@use "normalize";
@use "mixins";
@use "common";

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: common.$primary-font, sans-serif;
  display: flex;
  width: 1920px;
}

h1 {
  color: common.$primary-color;
  font-size: 4rem;
  text-align: center;
}

.container{
  width: 100%;
  background-size: cover;
}

.container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  backdrop-filter: blur(10px);
  z-index: 1;
}

.content__container{
  position: relative;
  z-index: 100;
}

.buttons__container{
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.button-container {
  display: flex;
  width: 300px;
  aspect-ratio: 1 / 1;
}

.button {
  padding: 10px;
  border: none;
  background-color: transparent;
  margin: auto;
  width: 50px;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
}
.button.paused{
  background-image: url('../../assets/icons/pause.svg');
}

.control{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.volume-control {
  width: 300px;
}
